.categories {
    grid-gap: 20px;
    height: 40px;
    display: flex;
    margin-bottom: 15px;
    overflow-y: auto;
}

.category {
    display: flex;
    background: #dfdfdf;
    align-items: center;
    border-radius: 3em;
    border: 2px solid #bbbbbb;
    white-space: nowrap;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}

.category:first-child {
    background: var(--yellow-bg-color);
    border: 2px solid var(--yellow-bg-color);
    color: white;
}

.category:not(:first-child):hover {
    background: #929292;
    border: 2px solid #929292;
}

.categories::-webkit-scrollbar {
    height: 0px;
}

.categories {
    scrollbar-width: none;
}