.header {
    padding: 16px;
    display: flex;
    box-shadow: 0 8px 6px -6px rgb(143, 143, 143);
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    height: 66px;
}

.logo {
    color: var(--yellow-bg-color);
    cursor: pointer;
    font-size: 28px;
}

.logo:before {
    content: "\f6be";
    font-family: 'Font Awesome\ 5 Free';
    margin-right: 15px;
}

.search-wrapper {
    width: 40%;
    align-items: center;
    display: flex;
}

.search-form {
    width: 100%;
    display: flex;
    margin-right: 10px;
    position: relative;
    align-items: center;
}

.search-form input,
.btn.search {
    font-size: 16px;
    -webkit-appearance: none;
    border: 1px solid rgb(202, 202, 202);
}

.search-form input {
    border-radius: 5px 0px 0px 5px;
    padding: 7px 15px;
    width: 100%;
}

.search-form input:focus {
    box-shadow: inset 0px 0px 0px 1px rgb(7, 17, 153);
    outline: 0;
}

.btn.search {
    padding: 7px 10px;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border-left: 0;
    outline: none;
}

.btn.search:hover {
    background-color: rgb(221, 221, 221);
}

.right-menu {
    font-size: 0;
    display: flex;
    align-items: center;
}

.btn.voice-search {
    margin-left: 15px;
}

.btn.voice-search,
.btn.bell {
    color: rgb(202, 202, 202);
    background-color: white;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    outline: none;
}

.btn.voice-search:hover,
.btn.bell:hover {
    color: var(--grey-hover-color);
}

.btn.bell {
    margin-right: 15px;
}

.fa-microphone,
.fas.fa-bell {
    font-size: 28px;
}

.btn.user-profile {
    background-color: var(--yellow-bg-color);
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    padding: 9px 12px;
    font-size: 14px;
    outline: none;
}

.header .dropdown {
    position: relative;
    display: inline-block;
}

.header .dropdown-content {
    border-radius: 10px 10px 10px 10px;
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    margin-top: 3px;
}

.header .dropdown-content a {
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.header .dropdown-content a:hover {
    background-color: #ddd;
}

.header .dropdown:hover .dropdown-content {
    display: block;
}

.header .dropdown:hover .btn {
    background-color: rgb(221, 221, 221);
}

.header .profile i,
.header .settings i,
.header .logout i {
    margin-right: 12px;
}

.header .profile:hover {
    border-radius: 10px 10px 0px 0px;
}

.header .logout:hover {
    border-radius: 0px 0px 10px 10px;
}

.header .profile,
.header .settings {
    color: black;
}

.header .settings {
    border-bottom: 1px solid rgb(202, 202, 202);
}

.header .logout {
    color: red;
}