.main-content {
    display: grid;
    grid-template-columns: 240px auto;
    height: calc(100vh - 70px);
}

.main_panel {
    padding: 15px 10px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    flex-direction: column;
    margin-right: 5px;
    display: flex;
}

.main-panel-content {
    flex-grow: 1;
}

.main_panel .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px;
}

.preview {
    overflow: hidden;
    position: relative;
}

.preview .live-icon,
.preview .paw,
.preview .viewers,
.preview .duration,
.description .names span,
.description .options {
    cursor: pointer;
}

.preview .live-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    background: red;
    color: white;
    padding: 9px;
    border-radius: 0.5em;
}

.preview .paw {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: xx-large;
    color: white;
}

.preview:hover .preview_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.preview .viewers,
.preview .duration {
    position: absolute;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 0.6em;
    bottom: 5px;
}

.preview:hover .paw {
    display: block;
}

.description .avatar {
    background-image: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description .avatar img {
    width: 30px;
    height: 30px;
}

.description .names {
    width: 100%;
    display: grid;
    padding-left: 10px;
    white-space: nowrap;
}

.description .names span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description .names span:hover {
    color: var(--yellow-bg-color);
}

.description .video-name {
    font-size: large;
    color: black;
}

.main_panel .footer {
    display: flex;
    margin-top: 35px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 1200px) {
    .main_content {
        grid-template-columns: 60px auto;
    }
}