.side-panel {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}

.side-panel .streamers {
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.side-panel .streamers>div:hover {
    background-color: #d6d6d6;
}

.side-panel .streamer {
    display: grid;
    grid-template-columns: 30px auto 70px;
    align-items: center;
    padding: 16px;
}

.side-panel .streamer .icon {
    display: flex;
    background-color: white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.side-panel .streamer span {
    cursor: pointer;
}

.side-panel .streamer .name {
    overflow: hidden;
    padding-left: 25px;
    font-size: large;
    text-overflow: ellipsis;
}

.side-panel .viewers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.side-panel .viewers-number {
    font-size: large;
}

.pulse {
    margin: 0 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 82, 82, 1);
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse 2s infinite;
}

.pulse:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.side-panel .info-panel {
    display: block;
    padding: 16px;
    padding-top: 0px;
    height: 170px;
    text-align: center;
    border-top: 1px solid white;
    background-color: #ebebeb;
}

.side-panel .info-content {
    padding: 16px;
    margin: 16px;
    margin-top: 20px;
    background-color: #dfdfdf;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media {
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    grid-gap: 30px;
}

.social-media i {
    padding: 0 5px;
}

.social-media i:hover {
    cursor: pointer;
    color: var(--grey-hover-color);
}

::selection {
    background-color: var(--yellow-bg-color);
    color: white;
}

@media all and (max-width: 1200px) {
    .streamer .viewers,
    .streamer .name,
    .streamer .pulse,
    .streamer .viewers-number {
        visibility: hidden;
        clear: both;
        display: none;
    }
    .side-panel .info-panel {
        display: none;
    }
    .side-panel {
        width: 80px;
        overflow-x: hidden;
        /* height: calc(100vh - 70px); */
    }
    .streamer :not(:first-child) {
        display: none;
    }
}