:root {
    --yellow-bg-color: #f9b430;
    --grey-hover-color: rgb(163, 163, 163);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: "Lucida Console", monospace;
    font-weight: 550;
}