.video-card {
    color: #5d5e5e;
    overflow: hidden;
}

.video-card .preview img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.video-card .description {
    height: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 30px auto 10px;
}